.salePlan-Detail-Overview {
  background-color: #fff;

  .salePlan-Detail-Title {
    background-color: #ccdeff;
    margin: 0;
    padding: 5px;
  }
  .salePlan-Detail-Table {
    margin-bottom: 20px;
    margin-top: 10px;
    .table-title {
      font-weight: 400;
    }
    .salePlan-Detail-Table-row {
      background-color: #c5d1f7;
    }
    .salePlan-Detail-Table-row-chillren {
      background-color: #e8edfc;
    }
  }
}
.salePlan-Detail-Target {
  background-color: #fff;
  .salePlan-Detail-Target-header{
    margin-bottom: 5px;
    .salePlan-Detail-Target-header-btn{  
        display: flex;
        justify-content: end;       
        .salePlan-Detail-Target-header-btn-item{
            margin-left: 10px;            
        }
        .Button-Save{
            background-color: #efb034;         
        }
    }
  }
  .salePlan-Detail-Title {
    background-color: #ccdeff;
    margin: 0;
    padding: 5px;
  }
  .salePlan-Detail-Table {
    margin-bottom: 20px;
    margin-top: 10px;
    .table-title {
      font-weight: 400;
    }
    .salePlan-Detail-Table-row {
      background-color: #c5d1f7;
    }
    .salePlan-Detail-Table-row-chillren {
      background-color: #e8edfc;
    }
  }
}
.testClass{
    background-color: aqua;
}